<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard PRO by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

</head>
<body>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form id="registerFormValidation" action="" method="" novalidate="">
                        <div class="header">Register Form</div>
                        <div class="content">

                            <div class="form-group">
                                <label class="control-label">Email Address <star>*</star></label>
                                <input class="form-control"
                                       name="email"
                                       type="text"
                                       required="true"
                                       email="true"
                                       autocomplete="off"
                                />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Password <star>*</star></label>
                                <input class="form-control"
                                       name="password"
                                       id="registerPassword"
                                       type="password"
                                       required="true"
                                />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Confirm Password <star>*</star></label>
                                <input class="form-control"
                                       name="password_confirmation"
                                       id="registerPasswordConfirmation"
                                       type="password"
                                       required="true"
                                       equalTo="#registerPassword"
                                />
                            </div>

                            <div class="category"><star>*</star> Required fields</div>
                        </div>

                        <div class="footer">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Register</button>
                            <div class="form-group pull-left">
                                <label class="checkbox">
                                    <input type="checkbox" data-toggle="checkbox" value="subscribe">
                                    Subscribe to newsletter
                                </label>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <form id="loginFormValidation" action="" method="" novalidate="">
                        <div class="header text-center">Login Form</div>
                        <div class="content">

                            <div class="form-group">
                                <label class="control-label">Email Address <star>*</star></label>
                                <input class="form-control"
                                       name="email"
                                       type="text"
                                       email="true"
                                       required="true"
                                />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Password <star>*</star></label>
                                <input class="form-control"
                                       name="password"
                                       id="registerPassword"
                                       type="password"
                                       required="true"
                                />
                            </div>

                            <div class="category"><star>*</star> Required fields</div>
                        </div>

                        <div class="footer text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Register</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <form id="allInputsFormValidation" class="form-horizontal" action="" method="post" novalidate="">
                        <div class="content">
                            <legend>Type Validation</legend>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Required Text</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="required"
                                               required="required"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>required</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="email"
                                               email="true"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>email="true"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Number</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="number"
                                               number="true"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>number="true"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Url</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="url"
                                               url="true"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>url="true"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Equal to</label>
                                    <div class="col-sm-3">
                                        <input class="form-control"
                                               id="idSource"
                                               type="text"
                                               placeholder="#idSource"
                                        />
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control"
                                               id="idDestination"
                                               type="text"
                                               placeholder="#idDestination"
                                               equalTo="#idSource"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>equalTo="#idSource"</code>
                                    </div>
                                </div>
                            </fieldset>

                            <legend>Range validation</legend>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Min Length</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="min_length"
                                               minLength="5"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>minLength="5"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Max Length</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="max_length"
                                               maxLength="5"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>maxLength="5"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Range</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="range"
                                               range="[6,10]"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>range="[6,10]"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Min Value</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="min"
                                               min="6"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>min="6"</code></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Max Value</label>
                                    <div class="col-sm-6">
                                        <input class="form-control"
                                               type="text"
                                               name="max"
                                               max="6"
                                        />
                                    </div>
                                    <div class="col-sm-4"><code>max="6"</code></div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-info btn-fill">Validate Inputs</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

    <script type="text/javascript">
        $().ready(function(){

            $('#registerFormValidation').validate();
            $('#loginFormValidation').validate();
            $('#allInputsFormValidation').validate();

        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46172202-1', 'auto');
      ga('send', 'pageview');

    </script>

</html>
