<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Light Bootstrap Dashboard PRO by Creative Tim</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />



</head>
<body>
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        24 Hours Performance
                        <p class="category">Line Chart</p>
                    </div>
                    <div class="content">
                        <div id="chartPerformance" class="ct-chart "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        NASDAQ: AAPL
                        <p class="category">Line Chart with Points</p>
                    </div>
                    <div class="content">
                        <div id="chartStock" class="ct-chart "></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Users Behavior
                        <p class="category">Multiple Lines Charts</p>
                    </div>
                    <div class="content">
                        <div id="chartBehaviour" class="ct-chart "></div>
                    </div>
                    <div class="footer">
                        <h6>Legend</h6>
                        <i class="fa fa-circle text-info"></i> Visited Site
                        <i class="fa fa-circle text-danger"></i> Register
                        <i class="fa fa-circle text-warning"></i> Login 2nd time
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Public Preferences
                        <p class="category">Pie Chart</p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart "></div>
                    </div>
                    <div class="footer">
                        <h6>Legend</h6>
                        <i class="fa fa-circle text-info"></i> Apple
                        <i class="fa fa-circle text-warning"></i> Samsung
                        <i class="fa fa-circle text-danger"></i> Windows Phone
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Views
                        <p class="category">Bar Chart</p>
                    </div>
                    <div class="content">
                        <div id="chartViews" class="ct-chart "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Activity
                        <p class="category">Multiple Bars Chart</p>
                    </div>
                    <div class="content">
                        <div id="chartActivity" class="ct-chart "></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

    <script>
        $().ready(function(){
            demo.initCharts();
        });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46172202-1', 'auto');
      ga('send', 'pageview');

    </script>

</html>
